html {
        font-family: cursive;
        color: white;
        background-color: #363636;
}
.square {
  width: 500px; /* Ancho del cuadrado */
  height: 115px; /* Altura del cuadrado */
  background-color: #292929; /* Color de fondo del cuadrado */
  justify-content: center;
  align-items: center;
}
